/* ///////////////////////////// Css reset ///////////////////////////// */
/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,addresscite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* change colours to suit your needs */
ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}

/* change colours to suit your needs */
mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}

/* ///////////////////////////// End reset ///////////////////////////// */

/* ///////////////////////////// Global ///////////////////////////// */
.wrapper {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
}

.heading-title {
    text-align: center;
    width: 100%;
    padding-top: 90px
}

.heading-title .title, .title {
    font-family: Lato;
    font-size: 16px;
    color: #454545;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.heading-title .botTitle, .botTitle {
    font-family: Sorts Mill Goudy;
    font-size: 20px;
    color: #989898;
    font-style: italic;
    margin-top: 15px;
}

.btn {
    color: #fff;
    font-family: Lato;
    font-size: 12px;
    letter-spacing: 1px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    width: 157px;
    height: 40px;
    line-height: 40px;
    border-radius: 3px;
    text-decoration: none;
}

/* ///////////////////////////// End global ///////////////////////////// */

/* ///////////////////////////// Header ///////////////////////////// */
header {
    background-color: #2d2d30;
    width: 100%;
}

header #logo {
    float: left;
    font-family: Archer Lato;
    margin: 25px 0 25px 3px;
}

header #logo #reast_letters {
    color: #c5c5c5;
    font-size: 14px;
    vertical-align: 11px;

}

header #logo #letter_z {
    color: #7bb9b3;
    font-size: 46px
}

header nav {
    float: right;
    margin-right:3px;
}

header:after {
    content: "";
    display: block;
    clear: both;
}

header nav h2 {
    height: 0;
    text-indent: -10000px;
}

header nav ul li {
    float: left;
    margin: 37px 0 0 50px;
}

header nav ul li span {
    margin-left: 27px;
    font-size: 6px;
    color: #3f3f42;
}

header nav ul li a {
    font-family: Lato;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #b5b5b5;
    text-decoration: none;
}

/* ///////////////////////////// End header ///////////////////////////// */

/* ///////////////////////////// Baner ///////////////////////////// */

.leading-banner img {
    width: 100%;
}

.leading-banner {
    max-height: 648px;
    overflow: hidden;
    position: relative;
}

.leading-banner .banner-overlay {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.leading-banner .banner-overlay h2 {
    font-family: Lato;
    font-size: 40px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.leading-banner .banner-overlay p {
    margin: 30px 0;
    font-family: Sorts Mill Goudy;
    font-size: 28px;
    font-style: italic;
    letter-spacing: 1px;
}

.leading-banner .banner-overlay a {
    border: 1px solid #fff;
    margin: auto;
}

/*/ ///////////////////////////// End Baner ///////////////////////////// */

/* ///////////////////////////// First section ///////////////////////////// */
#services {
    background-color: #f7f7f7;
}

#services ul {
    list-style-type: none;
}

#services ul li {
    float: left;
    width: 23%;
    padding: 1%;
    text-align: center;
    margin: 50px 0 75px 0;
}

#services ul li img {
    padding-bottom: 20px;
}
#services ul li .horisontal-line {
    background-color: #d7d7d7;
    margin: 0 45% 0 45%;
}

#services ul li h4 {
    font-family: Lato;
    font-size: 14px;
    color: #454545;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin: 20px 0;
}

#services ul li p {
    font-family: Lato;
    font-size: 14px;
    color: #8a8a8a;
    line-height: 2em;
}

#services:after {
    display: block;
    content: "";
    clear: both;
}

/* /////////////////////////// End First section///////////////////////////// */

/* ///////////////////////////// Second section ///////////////////////////// */

#product {
    background-color: #f1f1f1;
    text-align: center;
}

#product img {
    margin-top: 45px;
    width:100%;
}

#product #sectionParagraph {
    font-family: Lato;
    font-size: 14px;
    color: #a7a7a7;
    margin: 0 17%;
    line-height: 1.8em;
}

#product #left-btn {
    background-color: #47474d;
    color: #fff;
    margin: 40px 10px 90px 0;
    display: inline-block;

}

#product #right-btn {
    background-color: #82c6bf;
    display: inline-block;
}

#product:after {
    display: block;
    content: "";
    clear: both;
}

/* /////////////////////////////End Second section ///////////////////////////// */

/* ///////////////////////////// Third section ///////////////////////////// */
#works {
    background-color: #2d2d30;
}

#works #ourWork {
    width: 23%;
    padding: 90px 0 185px 0;
    margin:0 1% 0 3px;
    display: block;
    float: left;
}

#works #ourWork h3 {
    font-family: Lato;
    font-size: 16px;
    color: #dadada;
    letter-spacing: 2px;
    text-transform: uppercase;
}

#works #ourWork h5 {
    font-family: Sorts Mill Goudy;
    font-size: 16px;
    font-style: italic;
    letter-spacing: 1px;
    margin: 20px 0 35px 0;
    line-height: 1.4em;
    color: #a4a4a4;
}

#works #ourWork p {
    font-family: Lato;
    font-size: 14px;
    color: #a4a4a4;
    line-height: 1.8em;
    margin-bottom: 40px;
}

#works #ourWork a {
    color: #a4a4a4;
    text-align: center;
    border: 1px solid #a4a4a4;
    border-radius: 4px;
}

#works #workImg {
    padding: 90px 0 90px 0;
}

#works #workImg img {
    width: 23%;
    margin: 0 1% 1% 0;
}

#works:after {
    content: "";
    display: block;
    clear: both;
}

/* /////////////////////////////End Third section //////////////////////////// */

/* ///////////////////////////// Fourth section //////////////////////////// */
#customers {
    background-color: #f1f1f1;
}

#customers {
    position: relative;
}

#customers #verticaLine {
    width: 2px;
    height: 540px;
    background-color: #e3e3e3;
    position: absolute;
    left: 50%;
    margin-top: 40px;
    z-index: 1;
}
#customers img {
    z-index: 2;
    position: absolute;
    right: 50%;
    display:none;/*!!!!!!!!!*/
}

#customers #cGibson {
    top: 0px;

}

#customers #nBrooten {
    top: 205px;
}

#customers #bWiderski {

    top: 405px;
}

#customers #customersQuotes1 #nameOne {
    float:left;
    text-align: right;
    padding-left: 10%;
    margin-bottom: 130px;
}
#customers #customersQuotes1 #quoteOne{
  float:right;
}
#customers .name h6 {
    font-family: Lato;
    font-size: 14px;
    text-transform: uppercase;
    color: #454545;
    letter-spacing: 1px;
    margin-top: 25px;
}

#customers .name p {
    font-family: Sorts Mill Goudy;
    font-size: 16px;
    color: #878686;
    font-style: italic;
    margin-top: 10px;
}
#customers .quote p {
    font-family: Sorts Mill Goudy;
    font-size: 19px;
    color: #878686;
    font-style: italic;
    text-align: center;
    display: block;
    width: 40%;
    background-color: #fff;
    padding: 25px;
    line-height: 1.8em;
    border-bottom: 1px solid #dbdbdb;
}

#customers #customersQuotes1:after {
    content: "";
    display: block;
    clear: both;
}
/* /////////////////////////////End Fourth section //////////////////////////// */

/* /////////////////////////////Fiveth  section //////////////////////////// */
#blog{
    background-color: #f7f7f7;
}
#blog ul{
    list-style-type:none;
    padding-top:90px;

}
#blog ul li{
    width:23%;
    float:left;
    margin:0 2.5% 90px 0;
    background-color:#fff;
}
#blog ul li:nth-child(1){
    background-color:#f7f7f7;
    margin-left:4px;
}
#blog ul li:nth-child(4){
    margin-right:0;
}
#blog ul li img{
    width:100%;
}
#blog ul li p{
    font-family: Lato;
    font-size:13px;
    color:#8a8a8a;
    line-height: 2em;
    border-bottom:1px solid #e1e1e1;
    padding:0 25px 25px;
}
#blog ul li .firstPar{
    padding:30px 0 40px;
    border-bottom:none;
}
#blog ul li h4{
    font-family:Lato;
    font-size:13px;
    color:#454545;
    font-weight:norml;
    text-transform:uppercase;
    text-align:centr;
    margin: 25px;
    
}
#blog ul li #lastBtn{
    background-color:#82c6bf;
    text-align:center;
}
#blog:after{
    display:block;
    content:'';
    clear:both;
}
/* /////////////////////////////End Fiveth section //////////////////////////// */

/* /////////////////////////////Footer //////////////////////////// */
footer {
    background-color:#333333;
    text-align:center;
    color:#e8e8e8;
    font-family:Lato;
    font-size:14px;
    padding:40px 0;
}

/* MEDIA QUERY*/ 

@media screen and (max-width: 1148px){
    #customers #verticaLine{
        display:none;
    }
    
}